<section id="{{ section.id }}">
  <div class="page-width">
    <div class="grid-main-container">
      {% for block in section.blocks %}
        {{ 
            block.settings.grid_image 
            | image_url: width:800
            | image_tag: class:'main-image',loading:'lazy'
        }}
      {% endfor %}
    </div>
  </div>
</section>
{% schema %}
  {
    "name": "Grid Section",
    "settings": [],
    "blocks": [{
       "type":"gridcol",
       "name":"slides",
       "settings": [
        {
            "type": "image_picker",
            "id": "grid_image",
            "label": "Image"
        },
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        }
       ]
   }], 
    "presets":[{"name":"grid section"}]
  }
{% endschema %}