.main-image-banner img{
    width: 100%;
    height: auto;
}
.main-image-banner{
    position: relative;
}
.text-banner{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px 50px 20px;
}
.text-banner h2{
    font-size: 40px;
    margin: 0 0 20px 0;
}
.text-banner p{
    font-size: 20px;
    margin: 0 0 20px 0;
    line-height: 1;
}
.text-banner a{
    background: #000;
    color: #fff;
    border: 1px solid #fff;
    padding: 20px 40px;
    font-size: 20px;
    text-decoration: initial;
    gap: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
}
.text-banner .bottom-text{
    text-align: center;
    margin: 20px 0 0 0;
}
.text-banner h2,.text-banner a,.text-banner p{
    color: inherit;
    line-height: 1;
}
.subheading-ptag{
    max-width: 700px;
}
@media screen and (max-width:768px){
    .desktop{
        display: none;
    }
}
@media screen and (min-width:769px){
    .mobile{
        display: none;
    }
}